/* COLOUR PALETTE
Brown #914F1E
Light Brown #B99470
Lighter Brown #DEAC80
Cream #F7DCB9
Light Green #B5C18E
*/


/* LAYOUT STYLING */

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    /* border: solid; color: red; */
}

/*.instruction-section {
    margin: 0;
    padding: 1%;
    border: solid; color: red; border-width: thin;
}*/
.product-mobile-section {display: none;}
.services-mobile-image-section {display: none;}

.section-identifier {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    color: red;
    border: solid; border-color: red; border-width: thin;
}
.section-identifier > p {margin: 0 2% 0 2%;}

/* UNIVERSAL CONTENT STYLING */

h1 {font-size: 300%; margin: 0;}
h2 {font-size: 400%;}
h3 {font-size: 350%;}
h4 {font-size: 150%;}
h5 {font-size: 125%;}
p {font-size: 125%; line-height: 150%;}

.facebook_logo {
    fill: white;
    stroke: black;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #000;
    padding: 10px; /* your icon's total width & height is 40px  */
    border-radius: 8px;
}
.button-container {
    padding-top: 2%;
    padding-bottom: 3%;
}
.button {
    font-size: large;
    padding: 2%;
    color: black;
    text-decoration: none;
    background: #c2d4bb;
    border: solid; color: black; border-width: thin;
    cursor: pointer;
}
.button:hover {background-color: #41a67e;}

.button-contact {
    font-size: large;
    font-weight: bold;
    padding: 2%;
    text-decoration: none;
    color: black;
    background-color: #c2d4bb;
    border: solid; border-color: black; border-width: thin;
    cursor: pointer;
}
.button-contact:hover {background-color: white;}


/* LANDING SECTION */
.landing-section {
    margin: 0 0 3% 0;
    padding: 8% 0 5% 0;
    width: auto;
    height: 100vh;
    background: url(../images/cotton-bag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* HERO SECTION */
.hero-section {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 15% 0 15%;
    padding: 2%;
    padding-bottom: 5%;
    background-color: white;
    opacity: 75%;
}
.hero-section-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Hero Text Section */
.hero-sub-section {
    display: flex;
    flex-direction: column;
}
.header-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 150%;
}
.header-title-1 {margin-top: 0;}
.header-title-2 {margin-top: 0; font-weight: normal;}
.header {width: 100%;}
.header > h1 {font-size: 300%;}
.header > p {margin-bottom: 5%;}

.header-sub-body {
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.header-sub-body > a {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 5%;
}
.header-sub-body-contact {display: flex; flex-direction: column;}
.header-sub-body-contact > p {margin: 0;}

.mobile-header-sub-body {
    display: flex;
    flex-direction: column;
}

.button-hero {
    font-size: large;
    padding: 2%;
    color: black;
    text-decoration: none;
    background: #c2d4bb;
    border: solid; border-width: thin;
    cursor: pointer;
}
.button-hero:hover {background-color: white;}

/* Hero Hamburder Menu */
.dropdown-section {
    display: contents;
    width: 98%;
    margin: 2%;
    height: 500px;
    /*background-color: black;*/
    color: black;
    border-radius: 10px;
}
.dropdown {
    display: flex;
    /*overflow: hidden;*/
    width: 80%;
    position: relative;
    margin-bottom: 2%;
}
.dropdown #dropdown-links {display: none;}

.dropdown a {
    color: black;
    margin-bottom: 0;
    padding: 10px 20px 6px 20px;
    text-decoration: none;
    font-size: 125%;
    display: block;
}
.dropdown a.icon {
    background: black;
    color: white;
    font-weight: bold;
    display: block;
    position: absolute;
    right: 2%;
    top: 1%;
}
#dropdown-links a:hover {
    background-color: #41a67e;
    color: black;
}

/* FEATURES SECTION */
.features-section {
    position: relative;
    width: auto;
    margin-bottom: 5%;
}
.features-sub-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6%;
    width: auto;
    margin: 0 8% 0 8%;
    padding-top: 3%;
}
.features-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1%;
    padding: 3%;
    border-radius: 15px;
    border: solid; border-color: lightgray;
}
.features-item > h4 {
    margin-top: 0;
    margin-bottom: 1%;
    text-align: center;
}
.section-identifier-features {
    position: absolute;
    top: -16%;
    left: -5%;
    width: 20%;
    color: red;
    border: solid; border-color: red; border-width: thin;
}
.section-identifier-features > p {margin: 0 2% 0 2%;}

/* ABOUT SECTION */
.about-section {
    position: relative;
    margin: 0 0 5% 0;
    /*padding: 5% 4% 8% 4%;*/
    background: #ecfae5;
}
.about-sub-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2%;
    width: auto;
    margin: 0 8% 0 8%;
    padding: 3% 0 3% 0;
}
.about-sub-section-1 {
    display: grid;
    place-items: center;
    width: auto;
}
.about-sub-section-2 {
    display: grid;
    place-items: center;
    width: fit-content;
}
.about-sub-section-1-contents {
    width: 100%;
}
.about-sub-section-1-contents > p {
    margin: 0;
    padding-top: 0;
}
.about-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    /*font-size: 400%;*/
}
.about-header-1 {
    margin: 0 0 2% 0;
}
.about-header-2 {
    margin: 0 0 2% 0;
    font-weight: normal;
}
.about-sub-section-2 > p {
    font-size: 150%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}
.button-about {
    padding: 2%;
    color: white;
    text-align: center;
    text-decoration: none;
    background: #412B6B;
    cursor: pointer;
}
.button-about:hover {
    color: black;
    background-color: #41a67e;
}
.section-identifier-about {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    color: red;
    border: solid; border-color: red; border-width: thin;
}
.section-identifier-about > p {margin: 0 2% 0 2%;}

/* ICON SECTION */
.icon-section {
    position: relative;
    margin: 0 0 5% 0;
}
.icon-sub-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3%;
    width: auto;
    margin: 0 8% 0 8%;
}
.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.icon2-image {
    width: 40%;
}

/* PRODUCT SECTION */
/* Full Screen Width */
.product-header-section {
    position: relative;
    padding: 3% 0 3% 0;
    background-color: #ecfae5;
}
.product-header-sub-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 8% 0 8%;
}
.product-header-sub-section-1 {
    margin: 0 1% 0 0;
}
.product-header-sub-section-2 {
    margin: 0 1% 0 0;
    font-weight: normal;
}

.product-image {
    width: 100%;
    height: 85%;
    margin: 0;
    padding: 0;
    box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product-left-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6%;
    width: auto;
    margin: 3% 0 0 0;
}
.product-left-section-1 {
    display: grid;
    place-items: center;
    width: auto;
}
.product-left-section-2 {
    display: grid;
    place-items: center;
    width: auto;
}

.product-right-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6%;
    width: auto;
    margin: 3% 0 0 0;
}
.product-right-section-1 {
    display: grid;
    place-items: center;
    width: auto;
}
.product-right-section-2 {
    display: grid;
    place-items: center;
    width: auto;
}

.product-sub-section {
    margin: 4%;
}
.product-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
}
.product-header-1 {
    margin: 0;
}
.product-header-2 {
    font-weight: normal;
    margin: 0;
}
.product-sub-header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 150%;
    font-weight: bold;
}

/* SERVICES SECTION */
.services-section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5% 0 4% 0;
}
.services-header-section {
    background-color: #ecfae5;
}
.services-header-sub-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3% 0 3% 0;
}
.services-header-1 {
    margin: 0 1% 0 0;
}
.services-header-2 {
    margin: 0 1% 0 0;
    font-weight: normal;
}
.services-sub-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 8%;
    width: auto;
    margin: 4% 8% 0 8%;
}
.services-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2%;
    width: auto;
}
.services-column > h5 {
    margin-top: 0;
    margin-bottom: 2%;
}
.services-column > p {
    margin-top: auto;
}
.services-column > .button-container {
    margin-top: auto;
}
.services-column > a {
    font-size: 125%;
    color: black;
}
.image-service {
    width: 100%;
}

/* ETHICS SECTION */
.ethics-section {
    position: relative;
    margin: 0 0 5% 0;
    background-color: #ecfae5;
}
.ethics-sub-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 8% 0 8%;
    padding: 4% 0 4% 0;
}
.ethics-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
    width: 100%;
    margin: 2% 0 2% 0;
}
.ethics-header-1 {
    margin: 0;
}
.ethics-header-2 {
    font-weight: normal;
    margin: 0;
}
.ethics-section > p {
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.button-ethics {
    font-size: 150%;
    padding: 2%;
    color: white;
    text-align: center;
    text-decoration: none;
    background: #412B6B;
    cursor: pointer;
}
.button-ethics:hover {
    color: black;
    background-color: #41a67e;
}

/* CONTACT SECTION */
.contact-section {
    position: relative;
    margin: 0 0 5% 0;
}
.contact-sub-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8% 0 8%;
    text-align: center;
}
.contact-sub-section > h3 {
    margin: 0;
}
.contact-sub-section > p {
    font-size: 150%;
}

/* FOOTER SECTION */
.footer-section {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    background: lightgrey;
}
.footer-sub-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 8%;
    margin: 2% 8% 2% 8%;
}
.footer-sub-section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
}
.footer-panel {
    display: flex;
    flex-direction: column;
}
.footer-icon {
    margin-right: 2%;
}
.footer-panel-title {
    margin-top: 0;
    margin-bottom: 5%;
}
.footer-link {
    padding-top: 1%;
    padding-bottom: 1%;
}
.footer-link > a {
    color: black;
    text-decoration: none;
}
.footer-link:hover {
    background-color: #41a67e;
}
.footer-bottom {
    margin-bottom: 3%;
    text-align: center;
    margin: 0 8% 0 8%;
}
.footer-bottom > p {
    font-size: 100%;
    line-height: 125%;
}

.mobile-header-sub-body {display: none}


/* DEVICE STYLING */
@media (max-width: 1201px)  {

    .hero-section {margin: 0 8% 0 8%;}
    .dropdown {width: 110%;}
    .header-sub-body-contact > p {font-size: 100%;}
}

@media (max-width: 986px) {

    .dropdown {width: 150%;}

    .about-header {display: flex; flex-direction: column;}
    .about-header-2 {margin-bottom: 5%;}
    .about-sub-section-2 > p {font-size: 125%;}

    .features-item > p {font-size: 110%;}

    .services-column > p {font-size: 110%;}

    .ethics-sub-section {display: flex; align-items: flex-start;}
    .ethics-header {display: flex; flex-direction: column;}
}

@media (max-width: 876px) {

    .header-sub-body {display: none;}

    .mobile-header-sub-body {display: contents;}
    .mobile-header-sub-body > .header-sub-body-contact > .mobile-header-telephone {margin-top: 5%;}
    .dropdown {width: 200%;}

    .features-sub-section {display: flex; flex-direction: column;}
    .features-item > p {font-size: 125%;}

    .about-sub-section {display: flex; flex-direction: column;}
    .about-header {display: flex; flex-direction: row;}
    .about-sub-section-2 {margin-top: 3%;}
    .about-sub-section-2 > p {margin-left: 0; margin-right: 0;}

    h3 {font-size: 300%;}
    .product-sub-section > p {font-size: 100%;}

}

@media (max-width: 786px) {

    .header-body > p {font-size: 110%;}
    .dropdown {padding-top: 15%;}
    .dropdown a {font-size: 100%;}

}

@media (max-width: 678px) {

    .product-left-section {display: none;}
    .product-right-section {display: none;}
    .hero-section-3 {display: none;}
    .services-image-section {display: none;}

    .landing-section {margin-bottom: 3%;}

    .features-section {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-top: 10%;
    }

    .icon-sub-section {display: grid; grid-template-columns: repeat(2, 1fr);}

    .product-mobile-section {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .services-sub-section {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .services-column {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .services-mobile-image-section {display: contents; width: auto;}
    .image-service-mobile {width: 100%;}

    .footer-sub-section {display: flex; flex-direction: column;}
    .footer-sub-section-1 {margin-bottom: 5%;}
    .footer-sub-section-2 {margin-bottom: 5%;}
    .footer-bottom > p {font-size: 75%;}

}
